@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --bgSoft: #f0f0f0;
  --text: #000000;
  --textSoft: #4a4a4a;
  --sidebarHover: #e2e2e2;
  --sidebarSelected: #cccccc;
  --button: #1a73e8;
  --buttonHover: #1669c7;
  --giveUpButton: #e3342f;
  --giveUpButtonHover: #cc1f1a;
  --line: #c0b7b7;
}

[data-theme="dark"] {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
  --sidebarHover: #222938;
  --sidebarSelected: #151c2c;
  --button: #16a34a;
  --buttonHover: #15803d;
  --giveUpButton: #dc2626;
  --giveUpButtonHover: #b91c1c;
  --line: #c0b7b7;
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;

  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

/* Hide arrows in number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield; /* For Firefox */
}

